.CountryName {
  width: 60%;
  padding: 20px;
  font-weight: bold;
  font-size: 28px;
  float: left;
}

.CountryData {
  padding: 5px 0;
  font-size: 20px;
  clear: left;
  float: left;
}

.CountryFlag {
  width: 35%;
  float: right;
}

.CountryFlag img {
  width: 100%;
  height: auto;
}

.CountryBorders {
  margin-top: 20px;
  padding: 25px 0 5px;
  font-size: 20px;
  clear: both;
}

.CountryBorders li {
  padding: 2px 4px;
  font-weight: bold;
  font-size: 14px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
}

.CountryBorders li span:hover {
  color: brown;
  text-decoration: underline;
}