.CountryInfo {
  width: 65%;
  min-height: 200px;
  max-height: 630px;
  padding: 10px;
  border: 2px solid #333;
  overflow: auto;
}

.StartPage {
  margin: 20px auto;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}